{%- assign base_path = include.base_path | default: "" -%} {%- assign items =
include.items -%}

<ul class="nav-list">
  {%- assign grouped = items | group_by_exp: "item", "item.path | remove_first:
  base_path | split: '/' | first" -%} {%- for group in grouped -%} {%- assign
  name = group.name -%} {%- assign children = group.items -%} {%- assign
  is_folder = children.first.path | remove_first: base_path | split: '/' | size
  > 1 -%}

  <li class="nav-group">
    {%- if is_folder -%}
    <span class="nav-group-title"
      >{{ name | replace: '-', ' ' | capitalize }}</span
    >
    {%- assign new_base_path = base_path | append: name | append: '/' -%} {%
    include nav-tree.html items=children base_path=new_base_path %} {%- else -%}
    {%- for page in children -%} {%- unless page.name == 'index.md' or page.path
    contains '_site' or page.path contains '_layouts' or page.path contains
    '_includes' or page.path contains 'assets' -%}
    <a href="{{ page.url | relative_url }}" class="nav-link"
      >{{ page.title }}</a
    >
    {%- endunless -%} {%- endfor -%} {%- endif -%}
  </li>
  {%- endfor -%}
</ul>
